<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers + placeId">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onEditOffer()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-margin-vertical">
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row class="ion-align-items-start ">
        <ion-col size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3" sizeXl="4" offsetXl="4">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName='title'></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('title').valid && form.get('title').touched">
        <ion-col size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3" sizeXl="4" offsetXl="4">
          <ion-label color="danger">Please enter a title.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-start">
        <ion-col size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3" sizeXl="4" offsetXl="4">

          <ion-item>
            <ion-label position="floating">Short description</ion-label>
            <ion-textarea rows="8" formControlName='description'></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3" sizeXl="4" offsetXl="4">
          <ion-label color="danger">Description must not be between 1 and 160 characters.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
