<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers">
      </ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-start ion-justify-content-center">
      <ion-col sizeSm="4" sizeMd="2"> row1 col1 </ion-col>
      <ion-col sizeSm="4" sizeMd="2">
        <ion-card>
          <h1>The Column</h1>
          <p>row 1 col 2</p>
        </ion-card>
      </ion-col>

      <!-- <ion-col> row1 col3 </ion-col>
      <ion-col> row1 col4 </ion-col>
      <ion-col> row1 col5 </ion-col>
      <ion-col> row1 col6 </ion-col>
      <ion-col> row1 col7 </ion-col>
      <ion-col> row1 col8 </ion-col>
      <ion-col> row1 col9 </ion-col>
      <ion-col> row1 col10 </ion-col>
      <ion-col> row1 col11 </ion-col>
      <ion-col> row1 col12 </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
