<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading? 'Loading...' : discoverPlaces.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col class="ion-no-padding" size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3" sizeXl="4" offsetXl="4">
        <ion-img [src]="discoverPlaces.imgUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-padding-vertical" size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3"
        sizeXl="4" offsetXl="4">
        <ion-text>{{ discoverPlaces.description }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isBookable">
      <ion-col size="12" sizeSm="8" offsetSm="2" sizeMd="6" offsetMd="3" sizeXl="4" offsetXl="4">
        <ion-button color="primary" (click)="onBookPlace()" expand="block">Book now!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
